* {
  box-sizing: border-box;
  margin: 0;
  color: white;
  font-family: arial, sans-serif;
}
body {
  background-color: rgb(32, 33, 36);
}
.nav {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 16px;
  padding-right: 16px;
  font-size: 13px;
}

a {
  margin-right: 13px;
}

.nav div a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav svg {
  margin-right: 15px;
  cursor: pointer;
}
.profile {
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 74px;
  padding-bottom: 24px;
}

.bar {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #5f6368;
  border-radius: 24px;
  width: 584px;
  height: 44px;
  margin-bottom: 20px;
}

.searchbar {
  width: 500px;
  background: transparent;
  border: none;
  height: 34px;
  font-size: 16px;
  color: #e8eaed;
  outline: none;
}

.magni {
  color: #9aa0a6;
  fill: currentColor;
  height: 24px;
  width: 24px;
  margin-left: 10px;
  background: transparent;
}

.voice {
  height: 26px;
  background: transparent;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
}

button {
  background-color: #303134;
  height: 34px;
  padding: 0 16px;
  margin: 4px 2px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.button1 {
  margin-right: 10px;
}

button:hover {
  border: 1px solid #5f6368;
}

#SIvCob {
  font-size: small;
  text-align: center;
  color: #bdc1c6;
}

#SIvCob a {
  color: #8ab4f8;
}

.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  min-height: 50px;
  background-color: #171717;
  display: flex;
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-links {
  margin: 5px;
  padding-left: 20px;
  color: #999da2;
}

.right-links {
  padding-left: 60%;
  margin: 5px;
  background-color: #171717;
}

.left-links a {
  text-decoration: none;
  color: #999da2;
}

.right-links a {
  text-decoration: none;
  color: #999da2;
}

.left-links a:hover {
  text-decoration: underline;
  color: #999da2;
}

.right-links a:hover {
  text-decoration: underline;
  color: #999da2;
}

.bar:hover {
  background: #303134;
  border: none;
}

.menu {
  margin-top: 15px;
  height: 438px;
  width: 319px;
  background-color: #2d2e30;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 -1px 2px 0 rgb(0 0 0 / 30%), 0 -2px 6px 2px rgb(0 0 0 / 15%);
  position: fixed;
  right: 16px;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 13px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 13px;
  visibility: hidden;
}
.menu::-webkit-scrollbar {
  width: 10px;
}
.menu::-webkit-scrollbar-thumb {
  background-color: #5f6368;
  border-radius: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px 10px;
}
.grid-item {
  padding: 15px;
  text-align: center;
  background-color: #8ab4f8;
  border-radius: 12px;
  background-color: #2d2e30;
  cursor: pointer;
}
.grid-item p {
  font-size: 14px;
}
.grid-item:hover {
  background-color: rgba(32, 33, 36, 0.3);
}

.grid-item img {
  width: 42px;
  height: 42px;
}
.menu button {
  margin: 15px;
  width: 150px;

  color: #8ab4f8;
  border: 1px solid #5f6368;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
}
.menu button:hover {
  background-color: #555658;
}

@media only screen and (max-width: 600px) {
  .bar {
    width: 390px;
  }
  .voice {
    height: 45px;
    padding-right: 10px;
  }
  .magni {
    height: 24px;
    width: 35x;
  }
}
